<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title> Lobby </title>
</head>
<body>
    <div class = "MainMenu">
        <h2>Menu</h2>
        <button id='makeRoom'>Utwórz pokój</button>
        <h3 id='link'></h3>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src = "/indexMain.js"></script>
</body>
</html>